.slide-items {
  margin-top: 100px;
}
.slide-img {
  filter: brightness(50%);
}
/* Responsive for Galaxy Z fold or smaller devices than 360px */
@media (max-width: 359.98px) {
   .item-description h1 {
    font-size: 15px;
  }
   .item-description p {
    font-size: 8px;
  }
   .item-button {
    font-size: 8px;
  }
   .item-description {
    padding: 0%;
  }
}
/* Responsive for mobile devices */
@media (min-width: 360px) and (max-width: 575.98px) {
   .item-description h1 {
    font-size: 20px;
  }
   .item-description p {
    font-size: 12px;
  }
   .item-button {
    font-size: 10px;
  }
   .item-description {
    padding: 0%;
  }
}
 .card-hover:hover{
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.366);
  transition: 0.5s;
}
/* Student feedback carousel button style  */
.carousel .feedback-prev-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.carousel .feedback-next-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}